* {
    box-sizing: border-box;
}
body {
    background: url(../assets/pictures/white-waves\ copy.png);
  }
h1{
    text-align: center;
    padding: 25px;
    font-size: 28px;
    width: 800px;
    height: 75px;
    background: peachpuff;
    border: solid 1px black;
}
.directions{
    text-align: left;
    padding: 15px 15px 15px 15px;
    line-height: 22px;
    font-size: 18px;
    width: 800px;
    height: 200px;
    background: palevioletred;
    border: solid 1px black;
}
#wins-losses{
    margin: 5px 5px 5px 5px;
    border: solid 1px black;
    background: lightblue;
      height: 150px;
      width: 200px;
  }
#total-score{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-left: 30%;
  }
#total{
    margin: 5px 5px 5px 20px;
    border: solid 1px black;  
    background: tan;
    height: 150px;
    width:300px;
  }
#computer-guess{
    margin: 5px 5px 5px 20px;
    border: solid 1px black;  
    background: tan;
    height: 150px;
    width:300px;
  }
#number-to-guess{ 
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-left: 30%;
  }
.crystal-button{
      display: inline;
  }
.crystal-img{
      height: 150px;
      width: 125px;
      border: solid 1px black;
      margin-left: 5px;
  }